@using System.Data
@model DataSet
@{
    ViewData["Title"] = "ErrorListDisplay";
}
@ViewBag.ErrorMessage
<h2>Error List Display</h2>
@Html.ActionLink("Go Back", "ErrorList", "Home")

<html>
<head>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script>
        $.noConflict();
        jQuery(document).ready(function ($) {
            $(function () {
                $('a.dialog').click(function () {
                    var url = $(this).attr('href');
                    var dialog = $('<div style="display:none"></div>').appendTo('body');
                    dialog.load(url, {},
                        function (responseText, textStatus, XMLHttpRequest) {
                            dialog.dialog({
                                close: function (event, ui) {
                                    dialog.remove();
                                },
                                width: 1000,
                                height: 500,
                            });
                        });
                    return false;
                });
            });
        });
    </script>
</head>
<body>
    <table id="tbldata" border="1" class="display" cellpadding="0" cellspacing="0" table-layout="fixed" align="center">
        <tr>
            <th>Status</th>
            <th>Error Message</th>
            <th>Recorded On</th>
            <th>Bid</th>
            <th>Message</th>
            <th>Event</th>
            <th>Source System</th>
            <th>EventId</th>
            <th>RequestId</th>
        </tr>
        @foreach (DataRow row in Model.Tables[0].Rows)

        {
            <tr>
                <td>@row[0]</td>
                <td><div style="max-width:200px; min-width:200px; max-height:50px; min-height:50px; width:200px; height:50px;overflow:hidden;">@row[1] </div></td>
                <td>@row[2]</td>
                <td>@row[3]</td>
                @*<td><a href="@Url.Action("MessageDetail", "Home", new { filterName = "Message", filterValue = @row[4],@class="popupLink" })">@row[4]</a></td>;*@
                <td><div style="max-width:200px; min-width:200px; max-height:50px; min-height:50px; width:200px; height:50px;overflow:hidden;">@Html.ActionLink(@row[4].ToString(), "MessageDetail", "Home", new { filterName = "Message", filterValue = @row[4] }, new { @class = "dialog" }) </div></td>
                <td>@row[5]</td>
                <td>@row[6]</td>
                <td>@row[7]</td>
                <td>@row[8]</td>
            </tr>
        }
    </table>
</body>
</html>


@*//$(function () {
    //$('.popupLink').click(function () {
    //$('<div id="popupfooterdiv" />').appendTo('body').dialog({
    //close: function (event, ui) {
    //dialog.remove();
    //},
    //modal: false,
    //draggable: false,
    //width: 500,
    //height: 400,
    //resizable: false,
    ////open: function (event, ui) {
    ////    $(‘.ui-dialog-title’).remove();
    ////}
    //}).load(this.href, {});
    //return false;
    //});
    //});*@